<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">VehicleType</th>
      <th scope="col">VehicleName</th>
      <th scope="col">RegNo</th>
      <th scope="col">Officers</th>
      <th scope="col">RegNo</th>
      <th scope="col">Officers</th>
      <th scope="col">VehicleLicenseIssuedDate</th>
      <th scope="col">VehicleLicenseExpirationDate</th>
      <th scope="col">IssuranceIssuedDate</th>
      <th scope="col">IssuranceExiprationDate</th>
      <th scope="col">RoadWorthinessIssuedDate</th>
      <th scope="col">RoadWorthinessExiprationDate</th>
      <th scope="col">HackneyPermitIssuedDate</th>
      <th scope="col">HackneyPermitExiprationDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>